@page "/connect/authorize"
@using eSecurity.Client.Common.JS.Fetch
@using eSecurity.Client.Security.Authentication.Oidc
@using eSecurity.Core.Common.Responses
@using eSystem.Core.Security.Authentication.Oidc.Constants
@using eSecurity.Core.Security.Cookies

@inherits PageBase

@inject IFetchClient FetchClient
@inject IConnectService ConnectService

<Title Text="Authorization"></Title>

@code {

    [SupplyParameterFromQuery(Name = "response_type")]
    public string ResponseType { get; set; } = string.Empty;

    [SupplyParameterFromQuery(Name = "client_id")]
    public string ClientId { get; set; } = string.Empty;

    [SupplyParameterFromQuery(Name = "redirect_uri")]
    public string RedirectUri { get; set; } = string.Empty;

    [SupplyParameterFromQuery(Name = "state")]
    public string State { get; set; } = string.Empty;

    [SupplyParameterFromQuery(Name = "nonce")]
    public string Nonce { get; set; } = string.Empty;

    [SupplyParameterFromQuery(Name = "scope")]
    public string Scope { get; set; } = string.Empty;

    [SupplyParameterFromQuery(Name = "code_challenge")]
    public string? CodeChallenge { get; set; }

    [SupplyParameterFromQuery(Name = "code_challenge_method")]
    public string? CodeChallengeMethod { get; set; }

    [SupplyParameterFromQuery(Name = "return_url")]
    public string? ReturnUrl { get; set; }

    [SupplyParameterFromQuery(Name = "prompt")]
    public string? Prompt { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (string.IsNullOrEmpty(Prompt))
            {
                NavigationManager.NavigateTo(QueryBuilder.Create()
                    .WithUri(RedirectUri)
                    .WithQueryParam("error", OAuthErrors.InvalidRequest)
                    .WithQueryParam("error_description", "Query parameter 'prompt' is required.")
                    .Build());

                return;
            }

            var prompts = Prompt!.Split(' ');
            var processedPrompt = prompts.First();
            
            if (prompts.Contains(Prompts.None) && prompts.Length > 1)
            {
                NavigationManager.NavigateTo(QueryBuilder.Create()
                    .WithUri(RedirectUri)
                    .WithQueryParam("error", OAuthErrors.InvalidRequest)
                    .WithQueryParam("error_description", "Prompt 'none' cannot be combined with other prompt values.")
                    .Build());

                return;
            }

            switch (processedPrompt)
            {
                case Prompts.None:
                {
                    if (!UserState.IsAuthenticated)
                    {
                        NavigationManager.NavigateTo(QueryBuilder.Create()
                            .WithUri(RedirectUri)
                            .WithQueryParam("error", OAuthErrors.LoginRequired)
                            .WithQueryParam("error_description", "User must be authenticated.")
                            .Build());
                    }

                    await OnAuthorizeAsync();
                    
                    break;
                }
                case Prompts.Login:
                {
                    OnProcessConsent(Links.Account.SignIn ,prompts);
                    break;
                }
                case Prompts.Consent:
                {
                    OnProcessConsent(Links.Connect.Consents ,prompts);
                    break;
                }
                case Prompts.SelectAccount:
                {
                    OnProcessConsent(Links.Connect.SelectAccount ,prompts);
                    break;
                }
                default:
                {
                    NavigationManager.NavigateTo(QueryBuilder.Create()
                        .WithUri(RedirectUri)
                        .WithQueryParam("error", OAuthErrors.InvalidRequest)
                        .WithQueryParam("error_description", $"Prompt '{processedPrompt}' is not supported.")
                        .Build());
                    break;
                }
            }
        }
    }

    private async Task OnAuthorizeAsync()
    {
        var scopes = Scope.Split(' ').ToList();
        var request = new AuthorizeRequest()
        {
            UserId = UserState.UserId,
            ResponseType = ResponseType,
            ClientId = ClientId,
            RedirectUri = RedirectUri,
            Scopes = scopes,
            Nonce = Nonce,
            State = State,
            CodeChallenge = CodeChallenge,
            CodeChallengeMethod = CodeChallengeMethod
        };

        var result = await ConnectService.AuthorizeAsync(request);

        if (result.Success)
        {
            var response = result.Get<AuthorizeResponse>()!;
            var cookie = new SessionCookie()
            {
                SessionId = response.SessionId,
                UserId = request.UserId,
                DeviceId = response.DeviceId,
                IssuedAt = DateTimeOffset.UtcNow,
                ExpiresAt = DateTimeOffset.UtcNow.AddDays(30)
            };

            var fetchOptions = new FetchOptions()
            {
                Url = $"{NavigationManager.BaseUri}api/authentication/authorize",
                Method = HttpMethod.Post,
                Body = cookie
            };

            await FetchClient.FetchAsync(fetchOptions);

            var builder = QueryBuilder.Create()
                .WithUri(request.RedirectUri)
                .WithQueryParam("code", response.Code)
                .WithQueryParam("state", response.State);

            if (!string.IsNullOrEmpty(ReturnUrl)) builder.WithQueryParam("return_url", ReturnUrl);

            NavigationManager.NavigateTo(builder.Build());
        }
    }

    private void OnProcessConsent(string uri, string[] prompts)
    {
        var returnUrlBuilder = QueryBuilder.Create()
            .WithUri(Links.Connect.Authorize)
            .WithQueryParam("response_type", ResponseType)
            .WithQueryParam("client_id", ClientId)
            .WithQueryParam("redirect_uri", RedirectUri)
            .WithQueryParam("scope", Scope)
            .WithQueryParam("state", State)
            .WithQueryParam("nonce", Nonce);

        if (!string.IsNullOrEmpty(CodeChallenge))
            returnUrlBuilder.WithQueryParam("code_challenge", CodeChallenge);
        
        if (!string.IsNullOrEmpty(CodeChallengeMethod))
            returnUrlBuilder.WithQueryParam("code_challenge_method", CodeChallengeMethod);

        if (prompts.Length > 1)
        {
            var nextPrompts = prompts.Where(x => x != prompts.First());
            returnUrlBuilder.WithQueryParam("prompt", string.Join(" ", nextPrompts));
        }
        
        var redirectUriBuilder = QueryBuilder.Create()
            .WithUri(uri)
            .WithQueryParam("return_url", returnUrlBuilder.Build());

        NavigationManager.NavigateTo(redirectUriBuilder.Build());
    }

}
    