@page "/connect/callback"

@using eSecurity.Client.Common.JS.Fetch
@using eSecurity.Client.Security.Authentication
@using eSecurity.Client.Security.Authentication.Oidc
@using eSecurity.Client.Security.Authentication.Oidc.Clients
@using eSecurity.Client.Security.Authentication.Oidc.Token
@using eSecurity.Core.Common.DTOs
@using eSystem.Core.Security.Authentication.Oidc.Token
@using Microsoft.AspNetCore.Authentication.Cookies

@inherits PageBase

@inject IConnectService ConnectService
@inject IOptions<ClientOptions> ClientOptions
@inject IFetchClient FetchClient
@inject ITokenValidator TokenValidator
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject TokenProvider TokenProvider

@if (!string.IsNullOrEmpty(Code))
{
    <Title Text="Authorizing to eSystem Account"></Title>
}
else
{
    <Title Text="Failed authorization"></Title>
}

@code {

    [SupplyParameterFromQuery(Name = "code")]
    public string Code { get; set; } = string.Empty;

    [SupplyParameterFromQuery(Name = "state")]
    public string State { get; set; } = string.Empty;
    
    [SupplyParameterFromQuery(Name = "error")]
    public string? Error { get; set; } = string.Empty;
    
    [SupplyParameterFromQuery(Name = "error_description")]
    public string? ErrorDescription { get; set; } = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (!string.IsNullOrEmpty(Error) && !string.IsNullOrEmpty(ErrorDescription))
            {
                Snackbar.Add(ErrorDescription, Severity.Error);
                return;
            }
            
            var options = ClientOptions.Value;

            var request = new TokenRequest()
            {
                ClientId = options.ClientId,
                ClientSecret = options.ClientSecret,
                RedirectUri = options.CallbackUri,
                GrantType = GrantTypes.AuthorizationCode,
                Code = Code,
            };

            var result = await ConnectService.TokenAsync(request);

            if (result.Succeeded)
            {
                var response = result.Get();

                await SignInAsync(
                    response.AccessToken,
                    response.IdToken!,
                    response.RefreshToken!
                );
                
                NavigationManager.NavigateTo(Links.Account.Profile);
            }
        }
    }

    private async Task SignInAsync(string accessToken, string idToken, string refreshToken)
    {
        TokenProvider.AccessToken = accessToken;
        TokenProvider.IdToken = idToken;
        
        var tokenResult = await TokenValidator.ValidateAsync(idToken);
        if (!tokenResult.Succeeded) Snackbar.Add(tokenResult.GetError().Description, Severity.Error);
        var claimValues = tokenResult.Get<List<ClaimValue>>();
        
        var tokenIdentity = new SignIdentity()
        {
            RefreshToken = refreshToken,
            Claims = claimValues,
            Scheme = CookieAuthenticationDefaults.AuthenticationScheme
        };
        
        var fetchOptions = new FetchOptions()
        {
            Url = $"{NavigationManager.BaseUri}api/authentication/sign-in",
            Method = HttpMethod.Post,
            Body = tokenIdentity
        };

        var result = await FetchClient.FetchAsync(fetchOptions);

        if (result.Succeeded)
        {
            var claims = claimValues.Select(c => new Claim(c.Type, c.Value));
            var claimsIdentity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
            var claimPrincipal = new ClaimsPrincipal(claimsIdentity);
            (AuthenticationStateProvider as ClaimAuthenticationStateProvider)!.SignIn(claimPrincipal);
        }
    }

}