@page "/connect/logout/callback"

@inherits PageBase

<Title Text="Logout callback"></Title>

@code {
    [SupplyParameterFromQuery(Name = "state")]
    public string State { get; set; } = string.Empty;
    
    [SupplyParameterFromQuery(Name = "error")]
    public string? Error { get; set; } = string.Empty;
    
    [SupplyParameterFromQuery(Name = "error_description")]
    public string? ErrorDescription { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(Error) && !string.IsNullOrEmpty(ErrorDescription))
        {
            Snackbar.Add(ErrorDescription, Severity.Error);
        }
    }
}