@page "/connect/select-account"

@inherits PageBase

<Title Text="Consents"></Title>

@code {

    [SupplyParameterFromQuery(Name = "return_url")]
    public string ReturnUrl { get; set; } = string.Empty;

}