@page "/connect/select-account"

@inherits PageBase

<Title Text="Consents"></Title>

@code {

    [SupplyParameterFromQuery(Name = "redirect_url")]
    public string RedirectUrl { get; set; } = string.Empty;

}