@page "/account/security"

@inherits PageBase

@inject IUsersService UsersService
@inject IDialogService DialogService

@attribute [Authorize]

<Title Text="Security"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="6">
        <MudPaper Outlined="true" Class="pa-5">
            <MudGrid Justify="Justify.Center">
                <MudItem xs="12">
                    <MudText Typo="Typo.h6">
                        Password
                    </MudText>
                    @if (UserModel.PasswordChangeDate is not null)
                    {
                        <MudText Align="Align.Start" Typo="Typo.caption" Style="opacity: .5;" Class="mb-2">
                            Last change: @UserModel.PasswordChangeDate.Value.ToString("MM/dd/yyyy HH:mm")
                        </MudText>
                    }
                </MudItem>
                <MudItem xs="12">
                    <MudButton
                        Color="Color.Primary"
                        Variant="Variant.Filled"
                        ButtonType="ButtonType.Button"
                        OnClick="async () => await OnChangePasswordAsync()">
                        Change password
                    </MudButton>
                    <MudButton
                        Color="Color.Error"
                        Variant="Variant.Outlined"
                        ButtonType="ButtonType.Button"
                        OnClick="async () => await OnResetPasswordAsync()">
                        Reset password
                    </MudButton>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    private UserModel UserModel { get; set; } = new();
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadUserAsync();
            StateHasChanged();
        }
    }

    private async Task LoadUserAsync()
    {
        var userId = await LocalStorage.GetAsync<Guid>("userId");
        var result = await UsersService.GetUserAsync(userId);
   
        if (result.Success)
        {
            var response = result.Get<UserDto>()!;
            var model = Mapper.Map(response);
            UserModel = model;
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }
    
    private async Task OnChangePasswordAsync()
    {
        var options = new DialogOptions()
        {
            CloseButton = true,
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.ExtraExtraLarge
        };

        var model = new ChangePasswordModel() { Id = UserModel.Id };
        
        var parameters = new DialogParameters<ChangePasswordDialog>()
        {
            { x => x.Model, model }
        };

        var dialog = await DialogService.ShowAsync<ChangePasswordDialog>("Change password", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await LoadUserAsync();
            StateHasChanged();
        }
    }
    
    private async Task OnResetPasswordAsync()
    {
        var options = new DialogOptions()
        {
            CloseButton = true,
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.ExtraExtraLarge
        };

        var model = new ResetPasswordModel() { Id = UserModel.Id };
        
        var parameters = new DialogParameters<ResetPasswordDialog>()
        {
            { x => x.Model, model }
        };

        var dialog = await DialogService.ShowAsync<ResetPasswordDialog>("Reset password", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await LoadUserAsync();
            StateHasChanged();
        }
    }
}