@page "/unlock-account"

@using eSecurity.Client.Security

@inherits PageBase

@layout AuthenticationLayout

@inject CodeModelValidator Validator
@inject ISecurityService SecurityService

<Title Text="Account recovery"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="4" Style="margin-top: 50px">
        <MudStack Spacing="1" Justify="Justify.Center">
            <MudPaper Outlined="true" Class="pa-3">
                <MudTextM3 Align="Align.Center" Typo="TypoM3.Headline" Size="Size.Small">
                    Account recovery
                </MudTextM3>
            </MudPaper>
            <MudPaper Outlined="true" Class="pa-3">
                <MudStack Spacing="2">
                    <MudTextM3 Align="Align.Center" Typo="TypoM3.Body" Size="Size.Medium">
                        Your account was locked out due to reason: 'Too many failed login attempts'.
                        To recover access to your account, please check your email address, we sent you the
                        letter with recovery code.
                    </MudTextM3>
                    <MudForm
                        @ref="_form"
                        Model="_model"
                        Validation="Validator.ValidateValue">
                        <MudTextFieldExtended
                            @bind-Value="_model.Code"
                            Variant="Variant.Outlined"
                            Margin="Margin.Dense"
                            Placeholder="XXXXXX"
                            Mask="_mask"
                            Clearable="true"
                            Immediate="true"/>
                    </MudForm>
                    <MudLoadingButton
                        Size="Size.Medium"
                        FullWidth="true"
                        Color="Color.Primary"
                        Variant="Variant.Filled"
                        ButtonType="ButtonType.Button"
                        Disabled="@(_model.Code.Length <= 5)"
                        OnClick="@(async () => await OnRecoverAsync())">
                        Recover
                    </MudLoadingButton>
                </MudStack>
            </MudPaper>
            <CodeResend Context="_context"></CodeResend>
        </MudStack>
    </MudItem>
</MudGrid>

@code {

    [SupplyParameterFromQuery(Name = "id")]
    private Guid UserId { get; set; }

    [SupplyParameterFromQuery(Name = "return_url")]
    public string ReturnUrl { get; set; } = string.Empty;

    private readonly CodeModel _model = new();

    private MudForm _form = new();
    private MessageContext? _context;
    private readonly PatternMask _mask = new("000000");

    protected override void OnInitialized()
    {
        _context = new MessageContext
        {
            UserId = UserState.UserId,
            Sender = SenderType.Email,
            Purpose = PurposeType.Account,
            Action = ActionType.Unlock,
            Payload = new()
            {
                { "To", UserState.Credentials?.Email! }
            }
        };
    }

    private async Task OnRecoverAsync()
    {
        await _form.Validate();

        if (_form.IsValid)
        {
            var request = new UnlockAccountRequest
            {
                Code = _model.Code,
                UserId = UserId
            };

            var result = await SecurityService.UnlockAccountAsync(request);

            if (result.Succeeded)
            {
                Snackbar.Add("Account was successfully recovered", Severity.Success);
                NavigationManager.NavigateTo(ReturnUrl);
            }
            else
            {
                Snackbar.Add(result.GetError().Description, Severity.Error);
            }
        }
    }

}