@page "/unauthorized"
@inherits PageBase

<Title Text="Unauthorized"></Title>

<MudStack Justify="Justify.Center" AlignItems="AlignItems.Center">
    <MudText Align="Align.Center" Typo="Typo.h4">
        Not authorized
    </MudText>
    <MudText Align="Align.Center" Typo="Typo.h5">
        Sorry, you have to be authorized to navigate this page.
    </MudText>
    <MudText Align="Align.Center" Typo="Typo.h5">
        Log in your account to come back to this page.
    </MudText>
    <MudLink
        Style="text-align:center"
        Class="d-block"
        Typo="Typo.h5"
        OnClick="@(() => ToLoginPage())">
        Go to Login
    </MudLink>
</MudStack>

@code {
    [SupplyParameterFromQuery(Name = "returnUrl")]
    public string? ReturnUrl { get; set; }

    private void ToLoginPage()
    {
        if (string.IsNullOrEmpty(ReturnUrl))
        {
            NavigationManager.NavigateTo("/account/login");
        }
        else
        {
            var returnUrl = HttpUtility.UrlEncode(ReturnUrl);
            NavigationManager.NavigateTo($"/account/login?returnUrl={returnUrl}");
        }
    }
}