@page "/account/recovery-email/verify"

@using eShop.Blazor.Application.Validation
@using eShop.Blazor.Domain.Interfaces
@using eShop.Blazor.Domain.Models
@inherits PageBase

@inject ISecurityService SecurityService
@inject VerifyEmailValidator Validator

<Title Text="Recovery email verification"></Title>

<MudGrid Justify="Justify.Center" Spacing="1">
    <MudItem xs="4" Style="margin-top: 100px">
        <MudStack Spacing="1" Justify="Justify.Center">
            <MudPaper Outlined Class="pa-3">
                <MudText Align="Align.Center" Typo="Typo.h4">
                    Recovery email verification
                </MudText>
            </MudPaper>
            <MudPaper Outlined Class="pa-3">
                <MudForm
                    @ref="form"
                    Model="Model"
                    Validation="Validator.ValidateValue">
                    <MudStack Spacing="2" Justify="Justify.Center">
                        <MudText Align="Align.Center">
                            We have sent an email with code to: <strong>@UserState.Credentials?.RecoveryEmail</strong>
                        </MudText>

                        <MudCodeInput
                            Class="d-flex align-items-center"
                            Variant="Variant.Outlined"
                            Spacing="2"
                            Margin="Margin.None"
                            Count="6"
                            @bind-Value="Model.Code"/>

                        <MudLoadingButton
                            ButtonType="ButtonType.Button"
                            Variant="Variant.Filled"
                            Color="Color.Primary"
                            FullWidth
                            Disabled="@(Model.Code.Length <= 5)"
                            OnClick="@(async () => await OnVerifyEmailAsync())">
                            Verify
                        </MudLoadingButton>
                    </MudStack>
                </MudForm>
            </MudPaper>
            <MudPaper Outlined Class="pa-3">
                <MudText Align="Align.Center">Didn't received an email?
                    <strong @onclick="async () => await SendCodeAsync()" class="cursor-pointer">Resend</strong>
                </MudText>
            </MudPaper>
        </MudStack>
    </MudItem>
</MudGrid>

@code {
    
    [SupplyParameterFromForm] private CodeModel Model { get; set; } = new();

    private MudForm form = new();

    private async Task OnVerifyEmailAsync()
    {
        await form.Validate();

        if (form.IsValid)
        {
            var request = new VerifyCodeRequest()
            {
                UserId = UserState.UserId,
                Resource = CodeResource.RecoveryEmail,
                Type = CodeType.Verify,
                Sender = SenderType.Email,
                Code = Model.Code
            };

            var result = await SecurityService.VerifyCodeAsync(request);

            if (result.Success) await VerifyAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task VerifyAsync()
    {
        var request = new VerifyRecoveryEmailRequest()
        {
            UserId = UserState.UserId,
        };

        var result = await SecurityService.VerifyRecoveryEmailAsync(request);

        if (result.Success)
        {
            Snackbar.Add(result.Message, Severity.Success);
            RouteManager.Route("/account/login");
        }
        else Snackbar.Add(result.Message, Severity.Error);
    }

    private async Task SendCodeAsync()
    {
        var request = new SendCodeRequest()
        {
            UserId = UserState.UserId,
            Resource = CodeResource.RecoveryEmail,
            Type = CodeType.Verify,
            Sender = SenderType.Email
        };

        var response = await SecurityService.SendCodeAsync(request);
        Snackbar.Add(response.Message, response.Success ? Severity.Success : Severity.Error);
    }

}