@page "/account/emails"
@using eShop.Blazor.Server.UI.Components.Pages.Emails.Components
@inherits PageBase

@attribute [Authorize]

@inject IUserService UserService

<Title Text="Emails"></Title>

@if (Model is not null)
{
    <MudGrid Justify="Justify.Center">
        <MudItem xs="6">
            <MudStack Spacing="3">
                <MudTextM3 Typo="TypoM3.Title" Size="Size.Large">
                    Emails
                </MudTextM3>
                <MudDivider/>
                @if (Model.Emails.All(x => x.Type != EmailType.Recovery))
                {
                    <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined">
                        <MudTextM3 Typo="TypoM3.Body" Size="Size.Medium">
                            Your don't have a recovery email.
                            Add a recovery email to be able to recover an access to the account
                        </MudTextM3>
                    </MudAlert>
                }
                @foreach (var email in Model.Emails.OrderBy(email => email.Type))
                {
                    <Email Model="email"/>
                }
                <PrimaryEmail Model="Model"/>
                <RecoveryEmail Model="Model"/>
            </MudStack>
        </MudItem>
    </MudGrid>
}

@code {
    private UserEmailsModel? Model { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadAsync();
            StateHasChanged();
        }
    }

    private async Task LoadAsync()
    {
        var result = await UserService.GetUserEmailsAsync(UserState.UserId);

        if (result.Success)
        {
            var emails = result.Get<List<UserEmailDto>>()!;
            Model = new()
            {
                Emails = emails,
                PrimaryEmail = emails.FirstOrDefault(x => x.Type == EmailType.Primary),
                RecoveryEmail = emails.FirstOrDefault(x => x.Type == EmailType.Recovery)
            };
        }
        else Snackbar.Add(result.Message, Severity.Error);
    }
}