@page "/account/emails"
@using eShop.Blazor.Server.UI.Components.Pages.Emails.Components
@inherits PageBase

@attribute [Authorize]

@inject IUserService UserService

<Title Text="Emails"></Title>

@if (Model is not null)
{
    <MudGrid Justify="Justify.Center">
        <MudItem xs="6">
            <MudStack Spacing="3">
                <MudText Typo="Typo.h6">Emails</MudText>
                <MudDivider />
                <MudStack Spacing="2">
                    <PrimaryEmailSection Model="Model" />
                    <SecondaryEmailsSection Model="Model" />
                    <RecoveryEmailSection Model="Model" />
                </MudStack>
            </MudStack>
        </MudItem>
    </MudGrid>
}

@code {
    private UserEmailsModel? Model { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadAsync();
            StateHasChanged();
        }
    }

    private async Task LoadAsync()
    {
        var result = await UserService.GetUserEmailsAsync(UserState.UserId);

        if (result.Success)
        {
            var emails = result.Get<List<UserEmailDto>>()!;

            var primaryEmail = emails.FirstOrDefault(x => x.Type == EmailType.Primary);
            var recoveryEmail = emails.FirstOrDefault(x => x.Type == EmailType.Recovery);
            var secondaryEmails = emails.Where(x => x.Type == EmailType.Secondary).ToList();

            Model = new UserEmailsModel()
            {
                PrimaryEmail = primaryEmail,
                SecondaryEmails = secondaryEmails,
                RecoveryEmail = recoveryEmail
            };
        }
        else Snackbar.Add(result.Message, Severity.Error);
    }

}