@page "/account/devices"

@using eSecurity.Client.Security.Identity
@inherits PageBase

@attribute [Authorize]

@inject IUserService UserService

<Title Text="Device and sessions"></Title>

@if (_model is not null)
{
    <MudGrid Justify="Justify.Center">
        <MudItem xs="6">
            <MudStack Spacing="3">
                <MudText Typo="Typo.h6">Devices and sessions</MudText>
                <MudDivider/>
                <MudStack Spacing="2" Justify="Justify.Center">
                    <DevicesSection
                        Model="_model"/>
                </MudStack>
            </MudStack>
        </MudItem>
    </MudGrid>
}

@code {
    private UserDevicesModel? _model;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadAsync();
            StateHasChanged();
        }
    }
    
    private async Task LoadAsync()
    {
        var result = await UserService.GetUserDevicesAsync(UserState.UserId);

        if (result.Succeeded)
        {
            var devices = result.Get();

            _model = new UserDevicesModel() { Devices = devices };
        }
        else
        {
            Snackbar.Add(result.GetError().Description, Severity.Error);
        }
    }
}