@page "/account/recovery"

@using eShop.Blazor.Server.UI.Components.Pages.Recovery.Components
@inherits PageBase

@attribute [Authorize]

@inject ITwoFactorService TwoFactorService
@inject IDialogService DialogService

<Title Text="Account recovery"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="6">
        <MudStack Spacing="2" Justify="Justify.Center">
            <RecoverySection
                OnGenerateCodes="@(() => OnGenerateRecoveryCodesAsync())"/>
        </MudStack>
    </MudItem>
</MudGrid>

@code {

    private async Task OnGenerateRecoveryCodesAsync()
    {
        var recoveryCodes = new List<string>();
        var request = new GenerateRecoveryCodesRequest() { UserId = UserState.UserId };
        var result = await TwoFactorService.GenerateRecoveryCodesAsync(request);

        if (result.Success)
        {
            recoveryCodes = result.Get<List<string>>()!;
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }

        var options = new DialogOptions()
        {
            BackdropClick = true,
            CloseButton = true,
            MaxWidth = MaxWidth.ExtraExtraLarge,
            CloseOnEscapeKey = true
        };

        var parameters = new DialogParameters<GenerateRecoveryCodesDialog>()
        {
            { x => x.Codes, recoveryCodes }
        };

        var dialog = await DialogService.ShowAsync<GenerateRecoveryCodesDialog>("Generate recovery codes", parameters, options);
        var dialogResult = await dialog.Result;

        if (!dialogResult!.Canceled)
        {
            StateHasChanged();
        }
    }

}