@page "/account/devices"

@inherits PageBase

@attribute [Authorize]

@inject IUserService UserService

<Title Text="Device and sessions"></Title>

@if (Model is not null)
{
    <MudGrid Justify="Justify.Center">
        <MudItem xs="6">
            <MudStack Spacing="3">
                <MudText Typo="Typo.h6">Devices and sessions</MudText>
                <MudDivider/>
                <MudStack Spacing="2" Justify="Justify.Center">
                    <DevicesSection
                        Model="Model"/>
                </MudStack>
            </MudStack>
        </MudItem>
    </MudGrid>
}

@code {
    private UserDevicesModel? Model { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadAsync();
            StateHasChanged();
        }
    }
    
    private async Task LoadAsync()
    {
        var result = await UserService.GetUserDevicesAsync(UserState.UserId);

        if (result.Success)
        {
            var devices = result.Get<List<UserDeviceDto>>()!;

            Model = new UserDevicesModel() { Devices = devices };
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }
}