@page "/account/email/verify"

@inherits PageBase

@inject ISecurityService SecurityService
@inject VerifyEmailValidator Validator

<Title Text="Verify email"></Title>

<MudGrid Justify="Justify.Center" Spacing="1">
    <MudItem xs="12" sm="10" md="8" lg="6" xl="4" Style="margin-top: 150px">
        <MudStack Spacing="1" Justify="Justify.Center">
            <MudPaper Outlined Class="pa-3">
                <MudText Align="Align.Center" Typo="Typo.h4">
                    Email verification
                </MudText>
            </MudPaper>
            <MudPaper Outlined Class="pa-3">
                <MudForm
                    @ref="form"
                    Model="Model"
                    Validation="Validator.ValidateValue">
                    <MudGrid Spacing="2" Justify="Justify.Center">
                        <MudItem xs="12">
                            <MudText Typo="Typo.h6" Align="Align.Center">
                                Please, check your email
                            </MudText>
                        </MudItem>

                        <MudItem xs="12" Style="display: flex; justify-content: center">
                            <MudText
                                Align="Align.Center">
                                We have sent code to email: <strong>@Email</strong>
                            </MudText>
                        </MudItem>

                        <MudItem xs="12" sm="8" Style="margin: 15px 0"
                                 Class="d-flex flex-column gap-8 align-center justify-center">
                            <MudCodeInput
                                Variant="Variant.Outlined"
                                Spacing="2"
                                Margin="Margin.None"
                                Count="6"
                                @bind-Value="Model.Code"/>
                        </MudItem>

                        <MudItem xs="8">
                            <MudLoadingButton
                                ButtonType="ButtonType.Button"
                                Variant="Variant.Filled"
                                Color="Color.Primary"
                                Class="mt-3"
                                FullWidth
                                Disabled="@(Model.Code.Length <= 5)"
                                OnClick="@(async () => await OnVerifyEmailAsync())">
                                Verify
                            </MudLoadingButton>
                        </MudItem>
                    </MudGrid>
                </MudForm>
            </MudPaper>
            <MudPaper Outlined Class="pa-3">
                <MudText Align="Align.Center">Didn't received an email?
                    <strong @onclick="async () => await ResendCodeAsync()" class="cursor-pointer">Resend</strong>
                </MudText>
            </MudPaper>
        </MudStack>
    </MudItem>
</MudGrid>

@code {

    [SupplyParameterFromQuery(Name = "email")] private string Email { get; set; } = string.Empty;
    [SupplyParameterFromQuery(Name = "id")] private Guid Id { get; set; }

    [SupplyParameterFromForm] private VerifyEmailModel Model { get; set; } = new();

    private MudForm form = new();

    private async Task OnVerifyEmailAsync()
    {
        await form.Validate();

        if (form.IsValid)
        {
            var request = new VerifyEmailRequest()
            {
                UserId = Id,
                Code = Model.Code
            };

            var result = await SecurityService.VerifyEmailAsync(request);

            if (result.Success)
            {
                Snackbar.Add(result.Message, Severity.Success);
                await RouteManager.NavigateAsync("/account/login");
            }
            else
                Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task ResendCodeAsync()
    {
        var request = new ResendCodeRequest()
        {
            UserId = Id,
            CodeResource = CodeResource.Email,
            CodeType = CodeType.Verify,
            Sender = SenderType.Email
        };

        var response = await SecurityService.ResendCodeAsync(request);

        if (response.Success)
        {
            Snackbar.Add(response.Message, Severity.Success);
        }
        else
        {
            Snackbar.Add(response.Message, Severity.Error);
        }
    }

}