@page "/account/email/manage"
@using eSecurity.Client.Security
@using eSecurity.Client.Security.Authorization.Access.Verification
@using eSecurity.Client.Security.Identity
@using eSecurity.Core.Common.Responses
@using eSecurity.Core.Security.Authorization.Verification
@using eSecurity.Core.Security.Identity

@inherits PageBase

@attribute [Authorize]

@inject CodeModelValidator Validator
@inject IVerificationService VerificationService
@inject ISecurityService SecurityService
@inject IEmailService EmailService

<Title Text="Manage email"></Title>

<MudGrid Justify="Justify.Center" Spacing="1">
    <MudItem xs="4" Style="margin-top: 100px">
        <MudStack Spacing="1" Justify="Justify.Center">
            <MudPaper Outlined Class="pa-3">
                <MudText Align="Align.Center" Typo="Typo.h4">
                    Manage email
                </MudText>
            </MudPaper>
            <MudPaper Outlined Class="pa-3">
                <MudStack Spacing="3" Justify="Justify.Center">
                    <MudText Align="Align.Center">
                        We have sent an email with 6-digit code to:
                        <strong>@UserState.Credentials?.Email!</strong>
                    </MudText>
                    <MudForm
                        @ref="_form"
                        Model="_model"
                        Validation="Validator.ValidateValue">
                        <MudCodeInput
                            Class="d-flex align-items-center"
                            Variant="Variant.Outlined"
                            Spacing="2"
                            Margin="Margin.None"
                            Count="6"
                            @bind-Value="_model.Code"/>
                    </MudForm>
                    <MudLoadingButton
                        ButtonType="ButtonType.Button"
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                        FullWidth
                        Disabled="@(_model.Code.Length <= 5)"
                        OnClick="@(async () => await OnVerifyAsync())">
                        Verify
                    </MudLoadingButton>
                </MudStack>
            </MudPaper>
            <MudTextM3 Align="Align.Center" Typo="TypoM3.Body" Size="Size.Medium">
                Didn't received an email?
                <MudLink Typo="Typo.body2" OnClick="@(async () => await OnResendAsync())">
                    Resend
                </MudLink>
            </MudTextM3>
        </MudStack>
    </MudItem>
</MudGrid>

@code {

    [SupplyParameterFromQuery(Name = "email")]
    public string Email { get; set; } = string.Empty;

    [SupplyParameterFromQuery(Name = "type")]
    public string Type { get; set; } = string.Empty;

    [SupplyParameterFromQuery(Name = "return_url")]
    public string ReturnUrl { get; set; } = string.Empty;

    private CodeModel _model = new();
    private MudForm _form = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var request = new SendCodeRequest()
            {
                Sender = SenderType.Email,
                Payload = new()
                {
                    { "To", UserState.Credentials?.Email! }
                }
            };
            
            var result = await VerificationService.SendCodeAsync(request);
            if (!result.Succeeded) Snackbar.Add(result.GetError().Description, Severity.Error);

            StateHasChanged();
        }
    }

    private async Task OnResendAsync()
    {
        var request = new ResendCodeRequest()
        {
            Sender = SenderType.Email,
            Payload = new()
            {
                { "To", UserState.Credentials?.Email! }
            }
        };
        
        var result = await VerificationService.ResendCodeAsync(request);
        if (!result.Succeeded)
        {
            var error = result.GetError();
            Snackbar.Add(error.Description, Severity.Error);
        }
    }

    private async Task OnVerifyAsync()
    {
        var request = new VerificationRequest()
        {
            Action = ActionType.Manage,
            Purpose = PurposeType.Email,
            Method = VerificationMethod.EmailOtp,
            Payload = new TotpVerificationPayload()
            {
                Code = _model.Code
            }
        };
        
        var result = await VerificationService.VerifyAsync(request);
        if (result.Succeeded && result.TryGetValue<VerificationResponse>(out var response) && response is not null)
        {
            await ManageAsync(response.VerificationId);
        }
        else Snackbar.Add(result.GetError().Description, Severity.Error);
    }

    private async Task ManageAsync(Guid verificationId)
    {
        var type = Type switch
        {
            EmailTypes.Primary => EmailType.Primary,
            EmailTypes.Recovery => EmailType.Recovery,
            _ => throw new NotSupportedException("Unsupported email type")
        };

        var request = new ManageEmailRequest
        {
            VerificationId = verificationId,
            Email = Email,
            Type = type
        };

        var result = await EmailService.ManageEmailAsync(request);

        if (result.Succeeded)
        {
            await UserState.Change();
            NavigationManager.NavigateTo(ReturnUrl);
        }
        else Snackbar.Add(result.GetError().Description, Severity.Error);
    }

}