@page "/account/password/reset"
@inherits PageBase

@attribute [Authorize]

@inject ISecurityService SecurityService
@inject IVerificationService VerificationService
@inject ResetPasswordValidator Validator

<Title Text="Password reset"></Title>

<AccessConfirmation Context="context">
    <AccessConfirmed>
        <MudGrid Justify="Justify.Center">
            <MudItem xs="4">
                <MudStack Spacing="1" Justify="Justify.Center">
                    <MudPaper Outlined Class="pa-3">
                        <MudText Align="Align.Center" Typo="Typo.h4">
                            New password
                        </MudText>
                    </MudPaper>
                    <MudPaper Outlined="true" Class="pa-3">
                        <MudForm
                            @ref="form"
                            Model="Model"
                            Validation="Validator.ValidateValue">
                            <MudPasswordField
                                @bind-Value="Model.NewPassword"
                                For="() => Model.NewPassword"
                                Label="New password"
                                Variant="Variant.Outlined"
                                Immediate="true"
                                Clearable="true"/>
                            <MudPasswordField
                                @bind-Value="Model.ConfirmNewPassword"
                                For="() => Model.ConfirmNewPassword"
                                Label="Confirm new password"
                                Variant="Variant.Outlined"
                                Immediate="true"
                                Clearable="true"/>
                            <MudLoadingButton
                                Color="Color.Primary"
                                Variant="Variant.Filled"
                                ButtonType="ButtonType.Button"
                                OnClick="@(async () => await OnResetAsync())">
                                Submit
                            </MudLoadingButton>
                        </MudForm>
                    </MudPaper>
                </MudStack>
            </MudItem>
        </MudGrid>
    </AccessConfirmed>
</AccessConfirmation>

@code {
    [SupplyParameterFromForm] 
    private ResetPasswordModel Model { get; set; } = new();
    
    private MudForm form = new();
    private ConfirmationContext? context;

    protected override void OnInitialized()
    {
        context = new ConfirmationContext()
        {
            Purpose = PurposeType.Password,
            Action = ActionType.Reset,
        };
    }

    private async Task OnResetAsync()
    {
        await form.Validate();

        if (form.IsValid)
        {
            var request = new ResetPasswordRequest()
            {
                UserId = UserState.UserId,
                NewPassword = Model.NewPassword
            };

            var result = await SecurityService.ResetPasswordAsync(request);

            if (result.Success)
            {
                Snackbar.Add("Password was successfully reset", Severity.Success);
                NavigationManager.NavigateTo("/account/security");
            }
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }
}