@page "/account/security"

@using eShop.Blazor.Server.UI.Components.Pages.Security.Components
@inherits PageBase

@inject IUserService UserService

@attribute [Authorize]

<Title Text="Password and authentication"></Title>

@if (Model is not null)
{
    <MudGrid Justify="Justify.Center">
        <MudItem xs="6">
            <MudStack Spacing="4">
                <MudStack Spacing="3">
                    <MudText Typo="Typo.h5">
                        Sign-in methods
                    </MudText>
                    <MudPaper Class="pt-3 pb-3" Outlined="true">
                        <MudStack Spacing="3">
                            <PasswordSection Model="Model.PasswordData" OnRefreshAsync="RefreshAsync"/>
                            <MudDivider/>
                            <LinkedAccountsSection Model="Model.LinkedAccountsData"/>
                            <MudDivider/>
                            <PasskeysSection Model="Model.PasskeysData"/>
                        </MudStack>
                    </MudPaper>
                </MudStack>
                <TwoFactorSection Model="Model.TwoFactorData"/>
            </MudStack>
        </MudItem>
    </MudGrid>
}
else
{
    <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Style="margin-top: 150px">
        <MudLoading Text="Loading..." Loading="true"/>
    </MudStack>
}

@code {
    private UserLoginMethodsDto? Model { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadAsync();
            StateHasChanged();
        }
    }

    private async Task RefreshAsync()
    {
        await LoadAsync();
        await InvokeAsync(StateHasChanged);
    }

    private async Task LoadAsync()
    {
        var result = await UserService.GetUserLoginMethodsAsync(UserState.UserId);
        if (result.Success)
        {
            Model = result.Get<UserLoginMethodsDto>()!;
        }
        else Snackbar.Add(result.Message, Severity.Error);
    }
}