@page "/account/security"

@using eShop.Blazor.Server.UI.Components.Pages.Security.Components
@inherits PageBase

@inject IUserService UserService
@inject IDialogService DialogService

@attribute [Authorize]

<Title Text="Password and authentication"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="6">
        <MudStack Spacing="3">
            <SignInMethods/>
            <TwoFactorAuthentication/>
        </MudStack>
    </MudItem>
</MudGrid>