@page "/account/security"

@using eShop.Blazor.Server.UI.Components.Pages.Security.Components
@inherits PageBase

@inject IUserService UserService
@inject IDialogService DialogService

@attribute [Authorize]

<Title Text="Password and authentication"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="6">
        <MudStack Spacing="3">
            <MudText Typo="Typo.h6">Password and authentication</MudText>
            <MudDivider/>
            <MudStack Spacing="2" Justify="Justify.Center">
                <PasswordSection />
                <PasskeysSection />
                <LinkedAccountsSection />
                <TwoFactorSection />
            </MudStack>
        </MudStack>
    </MudItem>
</MudGrid>