@page "/account/verify-email"
@using Severity = MudBlazor.Severity;
@inherits PageBase

@inject IAuthenticationService AuthenticationService

<Title Text="Verify email"></Title>

<MudGrid Justify="Justify.Center" Spacing="1">
    <MudItem xs="12" sm="10" md="8" lg="6" xl="4" Style="margin-top: 150px">
        <MudPaper Outlined Class="pa-3" Style="margin-bottom: 10px">
            <MudText Align="Align.Center" Typo="Typo.h4">
                Email verification
            </MudText>
        </MudPaper>
        <MudPaper Outlined Class="pa-3">
            <MudGrid Spacing="2" Justify="Justify.Center">
                <MudItem xs="12">
                    <MudText Typo="Typo.h6" Align="Align.Center">
                        Please, check your email
                    </MudText>
                </MudItem>

                <MudItem xs="12" Style="display: flex; justify-content: center">
                    <MudText Typo="Typo.caption" Align="Align.Center">
                        We have sent code to email: <strong>@Email</strong>
                    </MudText>
                </MudItem>

                <MudItem xs="12" sm="8" Style="margin: 15px 0"
                         Class="d-flex flex-column gap-8 align-center justify-center">
                    <MudCodeInput Variant="Variant.Outlined" Spacing="2" Margin="Margin.None" Count="6"
                                  @bind-Value="VerifyEmailRequest.Code"/>
                </MudItem>

                <MudItem xs="8">
                    <MudButton ButtonType="ButtonType.Button"
                               Variant="Variant.Filled" Color="Color.Primary" Class="mt-3" FullWidth
                               Disabled="@(VerifyEmailRequest.Code.Length <= 5)"
                               OnClick="async () => await VerifyEmailAsync()">
                        Verify
                    </MudButton>
                </MudItem>
            </MudGrid>
        </MudPaper>
        <MudPaper Outlined Class="pa-3" Style="margin-top: 10px">
            <MudItem xs="12" Style="margin: 10px 0">
                <MudText Align="Align.Center">Didn't received an email?
                    <strong @onclick="async () => await ResendCodeAsync()" class="cursor-pointer">Resend</strong>
                </MudText>
            </MudItem>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    [SupplyParameterFromForm] private VerifyEmailRequest VerifyEmailRequest { get; set; } = new();
    [SupplyParameterFromQuery(Name = "email")] private string Email { get; set; } = string.Empty;

    private async Task VerifyEmailAsync()
    {
        VerifyEmailRequest.Email = Email;
        var result = await AuthenticationService.VerifyEmailAsync(VerifyEmailRequest);

        if (result.Success)
        {
            Snackbar.Add(result.Message, Severity.Success);
            NavigationManager.NavigateTo("/account/login");
        }
        else
            Snackbar.Add(result.Message, Severity.Error);
    }

    private async Task ResendCodeAsync()
    {
        var response = await AuthenticationService.ResendVerificationCodeAsync(new () { Email = Email });

        if (response.Success)
        {
            Snackbar.Add(response.Message, Severity.Success);
        }
        else
        {
            Snackbar.Add(response.Message, Severity.Error);
        }
    }

}