@page "/account/register/complete"

@using eSecurity.Client.Services.Interfaces
@using eSecurity.Client.Validation.Validators
@using eSecurity.Core.Common.DTOs
@using eSecurity.Core.Common.Messaging
@using eSecurity.Core.Common.Requests
@using eSecurity.Core.Security.Authorization.Access
@inherits PageBase

@inject VerifyEmailValidator Validator
@inject IVerificationService VerificationService
@inject IUserService UserService
@inject ISecurityService SecurityService

<Title Text="Registration completion"></Title>

@if (_email is not null)
{
    <MudGrid Justify="Justify.Center" Spacing="1">
        <MudItem xs="4" Style="margin-top: 100px">
            <MudStack Spacing="1" Justify="Justify.Center">
                <MudPaper Outlined Class="pa-3">
                    <MudTextM3 Align="Align.Center" Typo="TypoM3.Headline" Size="Size.Small">
                        Registration completion
                    </MudTextM3>
                </MudPaper>
                <MudPaper Outlined Class="px-5 py-4">
                    <MudStack Spacing="2" Justify="Justify.Center">
                        <MudTextM3 Align="Align.Center" Typo="TypoM3.Body" Size="Size.Medium">
                            We have sent an email with code to email: <strong>@_email?.Email</strong>
                        </MudTextM3>
                        <MudForm
                            @ref="_form"
                            Model="Model"
                            Validation="Validator.ValidateValue">
                            <MudTextFieldExtended
                                @bind-Value="Model.Code"
                                Variant="Variant.Outlined"
                                Margin="Margin.Dense"
                                Placeholder="XXXXXX"
                                Mask="_mask"
                                Clearable="true"
                                Immediate="true"/>
                        </MudForm>
                        <MudLoadingButton
                            Size="Size.Small"
                            ButtonType="ButtonType.Button"
                            Variant="Variant.Filled"
                            Color="Color.Success"
                            Disabled="@(Model.Code.Length <= 5)"
                            OnClick="@(async () => await OnVerifyEmailAsync())">
                            Verify
                        </MudLoadingButton>
                    </MudStack>
                </MudPaper>
                <CodeResend Context="_context"/>
            </MudStack>
        </MudItem>
    </MudGrid>
}

@code {

    [SupplyParameterFromQuery(Name = "id")]
    private Guid UserId { get; set; }

    [SupplyParameterFromQuery(Name = "return_url")]
    private string ReturnUrl { get; set; } = string.Empty;

    [SupplyParameterFromForm] private VerifyEmailModel Model { get; set; } = new();

    private MudForm _form = new();
    private PatternMask _mask = new("000000");

    private UserEmailDto? _email;
    private MessageContext? _context;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await UserService.GetUserPrimaryEmailAsync(UserId);
            if (result.Success)
            {
                var response = result.Get<UserEmailDto>()!;
                _email = response;
                StateHasChanged();

                await SendCodeAsync();
            }
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task SendCodeAsync()
    {
        _context = new MessageContext()
        {
            UserId = UserId,
            Sender = SenderType.Email,
            Purpose = PurposeType.Email,
            Action = ActionType.Verify,
            Payload = new()
            {
                { "To", _email!.Email! }
            }
        };

        var request = _context!.ToSendCodeRequest();
        var response = await VerificationService.SendCodeAsync(request);
        Snackbar.Add(response.Message, response.Success ? Severity.Success : Severity.Error);
        StateHasChanged();
    }

    private async Task OnVerifyEmailAsync()
    {
        await _form.Validate();

        if (_form.IsValid)
        {
            var request = _context!.ToVerifyCodeRequest(Model.Code);
            var result = await VerificationService.VerifyCodeAsync(request);

            if (result.Success) await VerifyAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task VerifyAsync()
    {
        var request = new VerifyEmailRequest()
        {
            UserId = UserId,
            Email = _email?.Email!
        };

        var result = await SecurityService.VerifyEmailAsync(request);

        if (result.Success)
        {
            Snackbar.Add(result.Message, Severity.Success);
            NavigationManager.NavigateTo(ReturnUrl);
        }
    }

}

