@page "/account/device/trust"
@using eSecurity.Client.Security
@using eSecurity.Client.Security.Authorization.Access.Verification
@using eSecurity.Core.Security.Authentication.SignIn
@using eSecurity.Client.Security.Identity

@inherits PageBase

@inject IUserService UserService
@inject ISecurityService SecurityService
@inject IVerificationService VerificationService

<Title Text="Device trust"></Title>

<MudGrid Spacing="1" Justify="Justify.Center">
    <MudItem xs="4">
        <MudStack Spacing="1">
            <MudPaper Outlined="true" Class="pa-3" Style="margin-top: 150px">
                <MudTextM3 Align="Align.Center" Typo="TypoM3.Headline" Size="Size.Small">
                    Device trust
                </MudTextM3>
            </MudPaper>
            <MudPaper Outlined="true" Class="px-5 py-4">
                <MudStack Spacing="2">
                    <MudTextM3 Align="Align.Center" Typo="TypoM3.Body" Size="Size.Medium">
                        You attempting to sign-in on new device.
                        To sign-in on new device, please enter 6-digit code the letter sent to:
                        <strong>@_email</strong>
                    </MudTextM3>
                    <MudForm @ref="_form" Model="_model">
                        <MudTextFieldExtended
                            @bind-Value="_model.Code"
                            Variant="Variant.Outlined"
                            Margin="Margin.Dense"
                            Placeholder="XXXXXX"
                            Mask="_mask"
                            Clearable="true"
                            Immediate="true"/>
                    </MudForm>
                    <MudLoadingButton
                        ButtonType="ButtonType.Button"
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                        Size="Size.Medium"
                        Disabled="@(_model.Code.Length <= 5)"
                        OnClick="@(async () => await OnVerifyCodeAsync())">
                        Submit
                    </MudLoadingButton>
                </MudStack>
            </MudPaper>
            <CodeResend Context="_context"></CodeResend>
        </MudStack>
    </MudItem>
</MudGrid>

@code {
    [SupplyParameterFromQuery(Name = "sid")]
    public Guid SessionId { get; set; }

    private TrustDeviceModel _model = new();
    private MudForm _form = new();
    private readonly PatternMask _mask = new("000000");
    private string? _email;
    private Guid _userId;
    private MessageContext? _context;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await SecurityService.GetSignInSessionAsync(SessionId);
            if (result.Succeeded)
            {
                var response = result.Get()!;
                _userId = response.UserId;
                
                await LoadAsync();
                StateHasChanged();
            }
            else
            {
                var error = result.GetError();
                Snackbar.Add(error.Description, Severity.Error);
            }
        }
    }

    private async Task LoadAsync()
    {
        var result = await UserService.GetUserAsync(_userId);
        if (result.Succeeded)
        {
            var response = result.Get()!;
            _email = response.Email;

            _context = new MessageContext()
            {
                UserId = _userId,
                Sender = SenderType.Email,
                Purpose = PurposeType.Device,
                Action = ActionType.Trust,
                Payload = new()
                {
                    { "To", _email! },
                }
            };

            await SendCodeAsync();
        }
        else Snackbar.Add(result.GetError().Description, Severity.Error);
    }

    private async Task SendCodeAsync()
    {
        var request = _context!.ToSendCodeRequest();
        var result = await VerificationService.SendCodeAsync(request);
        if (!result.Succeeded) Snackbar.Add(result.GetError().Description, Severity.Error);
    }

    private async Task OnVerifyCodeAsync()
    {
        await _form.Validate();

        if (_form.IsValid)
        {
            var request = _context!.ToVerifyCodeRequest(_model.Code);
            var result = await VerificationService.VerifyCodeAsync(request);

            if (result.Succeeded)
            {
                await OnTrustAsync();
            }

            else Snackbar.Add(result.GetError().Description, Severity.Error);
        }
    }

    private async Task OnTrustAsync()
    {
        var request = new SignInRequest
        {
            Payload = new TrustDeviceSignInPayload()
            {
                Sid = SessionId
            }
        };

        var result = await SecurityService.SignInAsync(request);
        if (result.Succeeded)
        {
            var response = result.Get()!;
            if (response!.IsTwoFactorEnabled)
            {
                Snackbar.Add("Device successfully trusted", Severity.Success);

                var builder = QueryBuilder.Create()
                    .WithUri(Links.Account.TwoFactorLoginPage)
                    .WithQueryParam("sid", response.SessionId.ToString());

                NavigationManager.NavigateTo(builder.Build());
            }
            else
            {
                UserState.UserId = response.UserId;
                AuthenticationManager.Authorize();
            }
        }
        else
        {
            Snackbar.Add(result.GetError().Description, Severity.Error);
        }
    }

}