@page "/account/phone-numbers"

@inherits PageBase

@attribute [Authorize]

<Title Text="Phone numbers"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="6">
        <MudStack Spacing="3">
            <MudText Typo="Typo.h6">Phone numbers</MudText>
            <MudDivider />
            <MudStack Spacing="2">
                
            </MudStack>
        </MudStack>
    </MudItem>
</MudGrid>

@code {
    
}