@page "/connect/authorize"

@using eSecurity.Client.Security.Authentication.OpenIdConnect.Authorization
@using eSystem.Core.Security.Authentication.OpenIdConnect.Client
@using eSystem.Core.Security.Authentication.OpenIdConnect.Constants

@inherits PageBase

@layout AuthenticationLayout

@inject IOpenIdConnectAuthorizationHandler AuthorizationHandler
@inject IOptions<ClientOptions> Options

<Title Text="Authorization to eSystem Account"></Title>

@code {

    [SupplyParameterFromQuery(Name = "response_type")]
    public string ResponseType { get; set; } = string.Empty;

    [SupplyParameterFromQuery(Name = "client_id")]
    public string ClientId { get; set; } = string.Empty;

    [SupplyParameterFromQuery(Name = "redirect_uri")]
    public string RedirectUri { get; set; } = string.Empty;

    [SupplyParameterFromQuery(Name = "state")]
    public string State { get; set; } = string.Empty;

    [SupplyParameterFromQuery(Name = "nonce")]
    public string Nonce { get; set; } = string.Empty;

    [SupplyParameterFromQuery(Name = "scope")]
    public string Scope { get; set; } = string.Empty;

    [SupplyParameterFromQuery(Name = "code_challenge")]
    public string? CodeChallenge { get; set; }

    [SupplyParameterFromQuery(Name = "code_challenge_method")]
    public string? CodeChallengeMethod { get; set; }

    [SupplyParameterFromQuery(Name = "return_url")]
    public string? ReturnUrl { get; set; }

    [SupplyParameterFromQuery(Name = "prompt")]
    public string? Prompt { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var context = new AuthorizationContext()
            {
                ClientId = ClientId,
                RedirectUri = RedirectUri,
                Scope = Scope,
                Nonce = Nonce,
                ResponseType = ResponseType,
                State = State,
                CodeChallenge = CodeChallenge,
                CodeChallengeMethod = CodeChallengeMethod,
                ReturnUrl = ReturnUrl
            };

            if (string.IsNullOrEmpty(Prompt))
            {
                context.Prompts = [];
            }
            else
            {
                var prompts = Prompt!.Split(' ').ToList();
                if (prompts.Contains(PromptTypes.None) && prompts.Count > 1)
                {
                    const string message = "Prompt 'none' cannot be combined with other prompt values.";
                    NavigationManager.NavigateTo(QueryBuilder.Create()
                        .WithUri(RedirectUri)
                        .WithQueryParam("error", ErrorTypes.OAuth.InvalidRequest)
                        .WithQueryParam("error_description", message)
                        .Build());

                    return;
                }

                var currentPrompt = prompts.First();
                if (!Options.Value.SupportedPrompts.Contains(currentPrompt))
                {
                    NavigationManager.NavigateTo(QueryBuilder.Create()
                        .WithUri(RedirectUri)
                        .WithQueryParam("error", ErrorTypes.OAuth.InvalidRequest)
                        .WithQueryParam("error_description", $"Prompt '{prompts.First()}' is not supported.")
                        .Build());

                    return;
                }

                context.Prompts = prompts;
            }

            await AuthorizationHandler.HandleAsync(context);
        }
    }
}
    