@page "/connect/callback"

@using eSecurity.Client.Common.JS.Fetch
@using eSecurity.Client.Security.Authentication
@using eSecurity.Client.Security.Authentication.Oidc
@using eSecurity.Client.Security.Authentication.Oidc.Session
@using eSecurity.Client.Security.Authentication.Oidc.Token
@using eSecurity.Core.Common.DTOs
@using eSystem.Core.Security.Authentication.Oidc.Client
@using eSystem.Core.Security.Authentication.Oidc.Constants
@using eSystem.Core.Security.Authentication.Oidc.Token
@using Microsoft.AspNetCore.Authentication.Cookies

@inherits PageBase

@inject IConnectService ConnectService
@inject IOptions<ClientOptions> ClientOptions
@inject IFetchClient FetchClient
@inject ITokenValidator TokenValidator
@inject ITokenProvider TokenProvider
@inject ISessionAccessor SessionAccessor
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (!string.IsNullOrEmpty(Code))
{
    <Title Text="Authorizing to eSystem Account"></Title>
}
else
{
    <Title Text="Failed authorization"></Title>
}

@if (!string.IsNullOrEmpty(Error) && !string.IsNullOrEmpty(ErrorDescription))
{
    <MudGrid Justify="Justify.Center">
        <MudItem xs="4" Style="margin-top: 150px">
            <MudPaper Outlined="true" Class="pa-5">
                <MudStack Spacing="3">
                    <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center">
                        <MudIcon
                            Color="Color.Error"
                            Size="Size.Large"
                            Style="font-size: 5rem"
                            Icon="@Icons.Material.Outlined.Cancel"/>
                    </MudStack>
                    <MudTextM3 Typo="TypoM3.Headline" Size="Size.Small" Align="Align.Center">
                        Authorization Error
                    </MudTextM3>
                    <MudStack Spacing="1">
                        <MudTextM3 Typo="TypoM3.Body" Size="Size.Large">
                            <strong>Error:</strong> @Error
                        </MudTextM3>
                        <MudTextM3 Typo="TypoM3.Body" Size="Size.Large">
                            <strong>Description:</strong> @ErrorDescription
                        </MudTextM3>
                    </MudStack>
                </MudStack>
            </MudPaper>
        </MudItem>
    </MudGrid>
}

@code {

    [SupplyParameterFromQuery(Name = "code")]
    public string Code { get; set; } = string.Empty;

    [SupplyParameterFromQuery(Name = "state")]
    public string State { get; set; } = string.Empty;

    [SupplyParameterFromQuery(Name = "error")]
    public string? Error { get; set; } = string.Empty;

    [SupplyParameterFromQuery(Name = "error_description")]
    public string? ErrorDescription { get; set; } = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && string.IsNullOrEmpty(Error) && string.IsNullOrEmpty(ErrorDescription))
        {
            var options = ClientOptions.Value;
            var request = new TokenRequest()
            {
                ClientId = options.ClientId,
                ClientSecret = options.ClientSecret,
                RedirectUri = options.CallbackUri,
                GrantType = GrantTypes.AuthorizationCode,
                Code = Code,
            };

            var result = await ConnectService.TokenAsync(request);
            if (result.Succeeded)
            {
                var response = result.Get();

                await SignInAsync(
                    response.AccessToken,
                    response.IdToken!,
                    response.RefreshToken!
                );

                NavigationManager.NavigateTo(Links.Common.Profile);
            }
        }
    }

    private async Task SignInAsync(string accessToken, string idToken, string refreshToken)
    {
        var session = SessionAccessor.Get();
        if (session is not null)
        {
            await TokenProvider.SetAsync($"{session.Id}:{TokenTypes.AccessToken}",
                accessToken, TimeSpan.FromMinutes(5));

            await TokenProvider.SetAsync($"{session.Id}:{TokenTypes.IdToken}",
                idToken, TimeSpan.FromMinutes(5));

            await TokenProvider.SetAsync($"{session.Id}:{TokenTypes.RefreshToken}",
                refreshToken, TimeSpan.FromDays(30));
        }

        var tokenResult = await TokenValidator.ValidateAsync(idToken);
        if (!tokenResult.Succeeded)
        {
            var error = tokenResult.GetError();
            Snackbar.Add(error.Description, Severity.Error);
        }

        var claimValues = tokenResult.Get<List<ClaimValue>>();
        var tokenIdentity = new SignIdentity()
        {
            Claims = claimValues,
            Scheme = CookieAuthenticationDefaults.AuthenticationScheme
        };

        var fetchOptions = new FetchOptions()
        {
            Url = $"{NavigationManager.BaseUri}api/authentication/sign-in",
            Method = HttpMethod.Post,
            Body = tokenIdentity
        };

        var result = await FetchClient.FetchAsync(fetchOptions);
        if (result.Succeeded)
        {
            var claims = claimValues.Select(c => new Claim(c.Type, c.Value));
            var claimsIdentity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
            var claimPrincipal = new ClaimsPrincipal(claimsIdentity);
            (AuthenticationStateProvider as ClaimAuthenticationStateProvider)!.SignIn(claimPrincipal);
        }
    }

}