@page "/connect/select-account"

@inherits PageBase

@layout AuthenticationLayout

<Title Text="Select account"></Title>

@code {

    [SupplyParameterFromQuery(Name = "return_url")]
    public string ReturnUrl { get; set; } = string.Empty;

}