/* Padding Top */
.pt-0 {padding-top: 0;}
.pt-1 {padding-top: 0.25rem;}
.pt-2 {padding-top: 0.5rem;}
.pt-3 {padding-top: 0.75rem;}
.pt-4 {padding-top: 1rem;}

/* Padding Bottom */
.pb-0 {padding-bottom: 0;}
.pb-1 {padding-bottom: 0.25rem;}
.pb-2 {padding-bottom: 0.5rem;}
.pb-3 {padding-bottom: 0.75rem;}
.pb-4 {padding-bottom: 1rem;}

/* Padding Right */
.pr-0 {padding-right: 0;}
.pr-1 {padding-right: 0.25rem;}
.pr-2 {padding-right: 0.5rem;}
.pr-3 {padding-right: 0.75rem;}
.pr-4 {padding-right: 1rem;}

/* Padding Left */
.pl-0 {padding-left: 0;}
.pl-1 {padding-left: 0.25rem;}
.pl-2 {padding-left: 0.5rem;}
.pl-3 {padding-left: 0.75rem;}
.pl-4 {padding-left: 1rem;}

/* Margin Right */
.mr-0 {margin-right: 0;}
.mr-1 {margin-right: 0.25rem;}
.mr-2 {margin-right: 0.5rem;}
.mr-3 {margin-right: 0.75rem;}
.mr-4 {margin-right: 1rem;}

/* Margin Left */
.ml-0 {margin-left: 0;}
.ml-1 {margin-left: 0.25rem;}
.ml-2 {margin-left: 0.5rem;}
.ml-3 {margin-left: 0.75rem;}
.ml-4 {margin-left: 1rem;}

.mud-button-label {
    text-transform: none;
}

.mud-code-input-inner div.d-flex.flex-wrap.align-center.mud-width-full {
    padding-left: 10px;
}

