@page "/account/register/complete"
@using eSecurity.Features.Verification.Commands
@using eSecurity.Features.Users.Queries
@inherits PageBase

@inject VerifyEmailValidator Validator

<Title Text="Registration completion"></Title>

@if (email is not null)
{
    <MudGrid Justify="Justify.Center" Spacing="1">
        <MudItem xs="4" Style="margin-top: 100px">
            <MudStack Spacing="1" Justify="Justify.Center">
                <MudPaper Outlined Class="pa-3">
                    <MudTextM3 Align="Align.Center" Typo="TypoM3.Headline" Size="Size.Small">
                        Registration completion
                    </MudTextM3>
                </MudPaper>
                <MudPaper Outlined Class="px-5 py-4">
                    <MudStack Spacing="2" Justify="Justify.Center">
                        <MudTextM3 Align="Align.Center" Typo="TypoM3.Body" Size="Size.Medium">
                            We have sent an email with code to email: <strong>@email?.Email</strong>
                        </MudTextM3>
                        <MudForm
                            @ref="form"
                            Model="Model"
                            Validation="Validator.ValidateValue">
                            <MudTextFieldExtended
                                @bind-Value="Model.Code"
                                Variant="Variant.Outlined"
                                Margin="Margin.Dense"
                                Placeholder="XXXXXX"
                                Mask="mask"
                                Clearable="true"
                                Immediate="true"/>
                        </MudForm>
                        <MudLoadingButton
                            Size="Size.Small"
                            ButtonType="ButtonType.Button"
                            Variant="Variant.Filled"
                            Color="Color.Success"
                            Disabled="@(Model.Code.Length <= 5)"
                            OnClick="@(async () => await OnVerifyEmailAsync())">
                            Verify
                        </MudLoadingButton>
                    </MudStack>
                </MudPaper>
                <CodeResend Context="context"/>
            </MudStack>
        </MudItem>
    </MudGrid>
}

@code {

    [SupplyParameterFromQuery(Name = "id")]
    private Guid UserId { get; set; }

    [SupplyParameterFromQuery(Name = "return_url")]
    private string ReturnUrl { get; set; } = string.Empty;

    [SupplyParameterFromForm] private VerifyEmailModel Model { get; set; } = new();

    private MudForm form = new();
    private PatternMask mask = new("000000");

    private UserEmailDto? email;
    private MessageContext? context;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await Sender.Send(new GetUserPrimaryEmailQuery(UserId));
            if (result.Succeeded)
            {
                var response = result.Get<UserEmailDto>()!;
                email = response;
                StateHasChanged();

                await SendCodeAsync();
            }
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task SendCodeAsync()
    {
        context = new MessageContext()
        {
            UserId = UserId,
            Sender = SenderType.Email,
            Purpose = PurposeType.Email,
            Action = ActionType.Verify,
            Payload = new()
            {
                { "To", email!.Email! }
            }
        };

        var request = context!.ToSendCodeRequest();
        var response = await Sender.Send(new SendCodeCommand(request));
        Snackbar.Add(response.Message, response.Succeeded ? Severity.Success : Severity.Error);
        StateHasChanged();
    }

    private async Task OnVerifyEmailAsync()
    {
        await form.Validate();

        if (form.IsValid)
        {
            var request = context!.ToVerifyCodeRequest(Model.Code);
            var result = await Sender.Send(new VerifyCodeCommand(request));

            if (result.Succeeded) await VerifyAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task VerifyAsync()
    {
        var request = new VerifyEmailRequest()
        {
            UserId = UserId,
            Email = email?.Email!
        };

        var result = await Sender.Send(new VerifyEmailCommand(request));

        if (result.Succeeded)
        {
            Snackbar.Add(result.Message, Severity.Success);
            NavigationManager.NavigateTo(ReturnUrl);
        }
    }

}

