@page "/account/profile"

@using eShop.BlazorWebUI.Components.Pages.Profile.Components.Profile
@inherits PageBase

@attribute [Authorize]

@inject UserState UserState
@inject IUserService UserService
@inject IDialogService DialogService

<Title Text="Profile"></Title>

@if (UserModel is not null && UserPersonalModel is not null)
{
    <MudGrid Spacing="2" Justify="Justify.Center">
        <MudItem xs="8">
            <MudGrid Spacing="2">
                <MudItem xs="3">
                    <MudPaper Outlined="true" Class="pa-5">
                        <MudStack Class="w-100">
                            <MudImage
                                Class="w-100 h-auto rounded-lg"
                                Alt="Avatar"
                                Src="/images/avatar.jpg"
                                FallbackSrc="/images/avatar.jpg"/>

                            <MudLoadingButton
                                FullWidth="true"
                                Variant="Variant.Filled"
                                Color="Color.Primary"
                                ButtonType="ButtonType.Button">
                                Change avatar
                            </MudLoadingButton>
                        </MudStack>
                    </MudPaper>
                </MudItem>
                <MudItem xs="9">
                    <MudGrid Spacing="2">
                        <MudItem xs="12">
                            <AccountDataSection
                                Model="UserModel"
                                OnChange="@OnUsernameChangeAsync"
                                OnRemove="@OnRemovePhoneNumberAsync"/>
                        </MudItem>
                        <MudItem xs="12">
                            <PersonalDataSection
                                Model="UserPersonalModel"
                                OnAdd="@OnAddPersonalDataAsync"
                                OnChange="@OnChangePersonalDataAsync"/>
                        </MudItem>
                    </MudGrid>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
}

@code {
    private UserModel? UserModel { get; set; }
    private UserPersonalModel? UserPersonalModel { get; set; }
    
    private string? email;
    private Guid userId;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            email = await LocalStorage.GetAsync<string>("email");
            userId = await LocalStorage.GetAsync<Guid>("userId")!;
            
            await LoadUserAsync();
            await LoadUserPersonalAsync();
            
            StateHasChanged();
        }
    }

    private async Task LoadUserAsync()
    {
        var result = await UserService.GetUserAsync(userId);

        if (result.Success)
        {
            var response = result.Get<UserDto>()!;
            var model = Mapper.Map(response);
            UserModel = model;
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }
    
    private async Task LoadUserPersonalAsync()
    {
        var result = await UserService.GetUserPersonalDataAsync(userId);

        if (result.Success)
        {
            var response = result.Get<UserPersonalDto>()!;
            var model = Mapper.Map(response);
            UserPersonalModel = model;
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task OnUsernameChangeAsync()
    {
        var options = new DialogOptions()
        {
            CloseButton = true,
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.ExtraExtraLarge
        };

        var model = new ChangeUsernameModel()
        {
            Id = userId,
            Username = UserModel!.UserName,
        };

        var parameters = new DialogParameters<ChangeUsernameDialog>()
        {
            { x => x.Model, model }
        };

        var dialog = await DialogService.ShowAsync<ChangeUsernameDialog>("Change username", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await LoadUserAsync();
            StateHasChanged();
            await UserState.Change();
        }
    }
    
    private async Task OnRemovePhoneNumberAsync()
    {
        var options = new DialogOptions()
        {
            CloseButton = true,
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.ExtraExtraLarge
        };

        var parameters = new DialogParameters<RemovePhoneNumberDialog>()
        {
            { x => x.UserId, userId }
        };

        var dialog = await DialogService.ShowAsync<RemovePhoneNumberDialog>("Remove phone number", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await LoadUserAsync();
            StateHasChanged();
            await UserState.Change();
        }
    }

    private async Task OnChangePersonalDataAsync()
    {
        var options = new DialogOptions()
        {
            CloseButton = true,
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.ExtraExtraLarge
        };

        var model = Mapper.Map(UserPersonalModel!);

        var parameters = new DialogParameters<ChangePersonalDataDialog>()
        {
            { x => x.Model, model }
        };

        var dialog = await DialogService.ShowAsync<ChangePersonalDataDialog>("Change personal data", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await LoadUserPersonalAsync();
            StateHasChanged();
        }
    }

    private async Task OnAddPersonalDataAsync()
    {
        var options = new DialogOptions()
        {
            CloseButton = true,
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.ExtraExtraLarge
        };

        var model = new AddPersonalDataModel() { Id = userId };

        var parameters = new DialogParameters<AddPersonalDataDialog>()
        {
            { x => x.Model, model }
        };

        var dialog = await DialogService.ShowAsync<AddPersonalDataDialog>("Add personal data", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await LoadUserPersonalAsync();
            StateHasChanged();
        }
    }

}