<MudStack Spacing="3">
    <MudPaper Outlined="true" Class="pa-5">
        <MudStack>
            @if (isLoading)
            {
                <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center">
                    <MudProgressCircular Size="Size.Small" Indeterminate="true" Color="Color.Primary"/>
                    <MudTextM3 Typo="TypoM3.Body" Size="Size.Small" Class="opacity-50">
                        Waiting for input from browser interaction...
                    </MudTextM3>
                </MudStack>
            }
            else
            {
                <MudButton
                    ButtonType="ButtonType.Button"
                    Variant="Variant.Filled"
                    Color="Color.Success"
                    Size="Size.Small"
                    FullWidth="true"
                    OnClick="@(async () => await OnAccessConfirmed.InvokeAsync())">
                    Use passkey
                </MudButton>
            }
        </MudStack>
    </MudPaper>
    @if (Methods.Any(x => x.Method != VerificationMethod.Passkey))
    {
        <MudPaper Outlined="true" Class="py-3 px-5">
            <MudStack>
                <MudTextM3 Typo="TypoM3.Title" Size="Size.Medium" Class="fw-bold">
                    Having problems?
                </MudTextM3>
                <ul>
                    @if (Methods.Any(x => x.Method == VerificationMethod.Email))
                    {
                        <li>
                            <MudLink OnClick="@(async () => await OnMethodChanged.InvokeAsync(VerificationMethod.Email))">
                                Confirm access with email
                            </MudLink>
                        </li>
                    }
                    @if (Methods.Any(x => x.Method == VerificationMethod.AuthenticatorApp))
                    {
                        <li>
                            <MudLink OnClick="@(async () => await OnMethodChanged.InvokeAsync(VerificationMethod.AuthenticatorApp))">
                                Confirm access with authenticator app
                            </MudLink>
                        </li>
                    }
                </ul>
            </MudStack>
        </MudPaper>
    }
</MudStack>

@code {
    [Parameter] public EventCallback OnAccessConfirmed { get; set; }
    [Parameter] public EventCallback<VerificationMethod> OnMethodChanged { get; set; }
    [Parameter] public ConfirmationContext Context { get; set; } = null!;
    [Parameter] public List<UserVerificationMethodDto> Methods { get; set; } = [];

    private bool isLoading = false;
}