@page "/account/password/reset"
@using eAccount.Common.Models
@inherits PageBase

@attribute [Authorize]

@inject ISecurityService SecurityService
@inject ResetPasswordValidator Validator

<Title Text="Password reset"></Title>

<AccessConfirmation Context="context">
    <AccessConfirmed>
        <MudGrid Justify="Justify.Center">
            <MudItem xs="4">
                <MudStack Spacing="1" Justify="Justify.Center">
                    <MudPaper Outlined Class="pa-3">
                        <MudTextM3 Align="Align.Center" Typo="TypoM3.Headline" Size="Size.Small">
                            Password reset
                        </MudTextM3>
                    </MudPaper>
                    <MudPaper Outlined="true" Class="py-4 px-5">
                        <MudStack Spacing="2">
                            <MudForm
                                @ref="form"
                                Model="Model"
                                Validation="Validator.ValidateValue">
                                <MudPasswordField
                                    @bind-Value="Model.NewPassword"
                                    For="() => Model.NewPassword"
                                    Label="New password"
                                    Variant="Variant.Outlined"
                                    Immediate="true"
                                    Clearable="true"/>
                                <MudPasswordField
                                    @bind-Value="Model.ConfirmNewPassword"
                                    For="() => Model.ConfirmNewPassword"
                                    Label="Confirm new password"
                                    Variant="Variant.Outlined"
                                    Immediate="true"
                                    Clearable="true"/>
                            </MudForm>
                            <MudLoadingButton
                                Color="Color.Success"
                                Variant="Variant.Filled"
                                ButtonType="ButtonType.Button"
                                Size="Size.Small"
                                OnClick="@(async () => await OnResetAsync())">
                                Confirm
                            </MudLoadingButton>
                            <MudButton
                                Color="Color.Info"
                                Variant="Variant.Text"
                                ButtonType="ButtonType.Button"
                                Size="Size.Small"
                                OnClick="@(() => NavigationManager.NavigateTo(ReturnUrl))"
                                Href="@ReturnUrl">
                                Cancel
                            </MudButton>
                        </MudStack>
                    </MudPaper>
                </MudStack>
            </MudItem>
        </MudGrid>
    </AccessConfirmed>
</AccessConfirmation>

@code {
    [SupplyParameterFromForm] 
    private ResetPasswordModel Model { get; set; } = new();

    [SupplyParameterFromQuery(Name = "return_url")]
    public string ReturnUrl { get; set; } = null!;
    
    private MudForm form = new();
    private ConfirmationContext? context;

    protected override void OnInitialized()
    {
        context = new ConfirmationContext()
        {
            Purpose = PurposeType.Password,
            Action = ActionType.Reset,
        };
    }

    private async Task OnResetAsync()
    {
        await form.Validate();

        if (form.IsValid)
        {
            var request = new ResetPasswordRequest()
            {
                UserId = UserState.UserId,
                NewPassword = Model.NewPassword
            };

            var result = await SecurityService.ResetPasswordAsync(request);

            if (result.Success)
            {
                Snackbar.Add("Password was successfully reset", Severity.Success);
                NavigationManager.NavigateTo(ReturnUrl);
            }
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }
}