.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: absolute;
    z-index: 10;
    background-color: rgba(39, 39, 47, 1);
    height: 65px;
    width: 100vw;
    max-width: 100vw;
    box-shadow: 0 0 5px black;
}

.header-center {
    height: 40px;
    flex: 2;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-field{
    height: 100%;
    width: 400px;
    border-width: 0;
    border-radius: 8px 0 0 8px;
    padding-left: 10px;
}

.search-field:focus{
    border-width: 0;
    outline: none;
}

.search-button{
    height: 100%;
    width: 60px;
    border: 0px;
    border-radius: 0 8px 8px 0;
}

.header-leftside {
    flex: 1;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.brand-text {
    color: white;
    margin-left: 10px;
    margin-bottom: 0px;
}

.toogle-button-container {
    background-color: transparent;
    border: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toogle-button {
    color: white;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.toogle-button-container:hover {
    border-radius: 50%;
    border: 0px;
    background-color: rgb(77, 72, 72);
}

.header-rightside{
    margin-right: 20px;
    flex: 1;
    display: flex;
    justify-content: end;
}

.login-button {
    background-color: transparent;
    border: 0px;
    color: white;
    height: 40px;
    font-size: large;

    &:hover{
        border-radius: 10px;
        border: 0px;
        background-color: rgb(77, 72, 72);
    }
}

.header-rightside-btn {
    text-transform: uppercase;
    font-size: small;
    font-weight: 500;
    letter-spacing: .5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 10px;
    cursor: pointer;
    text-decoration: none;
    &:hover{
        border-radius: 10px;
        border: 0px;
        background-color: rgb(77, 72, 72);
        transition: ease 300ms;
    }
}

.btn-icon {
    margin: 5px;
}