@page "/unauthorized"
@inherits PageBase

<Title Text="Unauthorized"></Title>

<MudStack Justify="Justify.Center" AlignItems="AlignItems.Center">
    <MudText Align="Align.Center" Typo="Typo.h4">
        Not authorized
    </MudText>
    <MudText Align="Align.Center" Typo="Typo.h5">
        Sorry, you have to be authorized to navigate this page.
    </MudText>
    <MudText Align="Align.Center" Typo="Typo.h5">
        Log in your account to come back to this page.
    </MudText>
    <MudLink
        Style="text-align:center"
        Class="d-block"
        Typo="Typo.h5"
        OnClick="@(() => ToLoginPage())">
        Go to Login
    </MudLink>
</MudStack>

@code {

    [SupplyParameterFromQuery(Name = "return_url")]
    public string? ReturnUrl { get; set; }

    private void ToLoginPage()
    {
        var builder = QueryBuilder.Create().WithUri(Links.Common.LoginIdentifier);

        if (!string.IsNullOrEmpty(ReturnUrl))
            builder.WithQueryParam("return_url", ReturnUrl);

        NavigationManager.NavigateTo(builder.Build());
    }

}