.layout{
  height: 100vh;
  max-width: 100vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout-body{
  padding: 40px;
}

.layout-content{
  display: flex;
  flex-direction: row;
  height: 100%;
}
