@page "/account/password/reset"

@using eSecurity.Client.Security
@inherits PageBase

@attribute [Authorize]

@inject ResetPasswordValidator Validator
@inject ISecurityService SecurityService

<Title Text="Password reset"></Title>

<AccessConfirmation Context="_context">
    <AccessConfirmed>
        <MudGrid Justify="Justify.Center">
            <MudItem xs="4">
                <MudStack Spacing="1" Justify="Justify.Center">
                    <MudPaper Outlined Class="pa-3">
                        <MudTextM3 Align="Align.Center" Typo="TypoM3.Headline" Size="Size.Small">
                            Password reset
                        </MudTextM3>
                    </MudPaper>
                    <MudPaper Outlined="true" Class="py-4 px-5">
                        <MudStack Spacing="2">
                            <MudForm
                                @ref="_form"
                                Model="_model"
                                Validation="Validator.ValidateValue">
                                <MudPasswordField
                                    @bind-Value="_model.NewPassword"
                                    For="() => _model.NewPassword"
                                    Label="New password"
                                    Variant="Variant.Outlined"
                                    Immediate="true"
                                    Clearable="true"/>
                                <MudPasswordField
                                    @bind-Value="_model.ConfirmNewPassword"
                                    For="() => _model.ConfirmNewPassword"
                                    Label="Confirm new password"
                                    Variant="Variant.Outlined"
                                    Immediate="true"
                                    Clearable="true"/>
                            </MudForm>
                            <MudLoadingButton
                                Color="Color.Success"
                                Variant="Variant.Filled"
                                ButtonType="ButtonType.Button"
                                Size="Size.Small"
                                OnClick="@(async () => await OnResetAsync())">
                                Confirm
                            </MudLoadingButton>
                            <MudButton
                                Color="Color.Info"
                                Variant="Variant.Text"
                                ButtonType="ButtonType.Button"
                                Size="Size.Small"
                                OnClick="@(() => NavigationManager.NavigateTo(ReturnUrl))"
                                Href="@ReturnUrl">
                                Cancel
                            </MudButton>
                        </MudStack>
                    </MudPaper>
                </MudStack>
            </MudItem>
        </MudGrid>
    </AccessConfirmed>
</AccessConfirmation>

@code {
    [SupplyParameterFromQuery(Name = "return_url")]
    public string ReturnUrl { get; set; } = null!;
    
    private readonly ResetPasswordModel _model = new();
    
    private MudForm _form = new();
    private ConfirmationContext? _context;

    protected override void OnInitialized()
    {
        _context = new ConfirmationContext()
        {
            Purpose = PurposeType.Password,
            Action = ActionType.Reset,
        };
    }

    private async Task OnResetAsync()
    {
        await _form.Validate();

        if (_form.IsValid)
        {
            var request = new ResetPasswordRequest()
            {
                UserId = UserState.UserId,
                NewPassword = _model.NewPassword
            };

            var result = await SecurityService.ResetPasswordAsync(request);

            if (result.Succeeded)
            {
                Snackbar.Add("Password was successfully reset", Severity.Success);
                NavigationManager.NavigateTo(ReturnUrl);
            }
            else Snackbar.Add(result.GetError().Description, Severity.Error);
        }
    }
}