@page "/products"

@inherits PageBase

@inject IProductService ProductService

<Title Text="Products"></Title>

<MudGrid>
    @if (ProductsList.Any())
    {
        @foreach (var p in ProductsList)
        {
            <Product Model="p"/>
        }
    }
    else
    {
        <MudItem xs="12">
            <MudText Align="Align.Center" Typo="Typo.h5">
                No products at the moment
            </MudText>
        </MudItem>
    }
</MudGrid>

<AuthorizeView Roles="Seller,Admin">
    <Authorized>
        <div class="position-absolute" style="right:50px; bottom: 50px">
            <MudTooltip Text="Create product" Color="Color.Success" Arrow>
                <MudFab ButtonType="ButtonType.Button"
                        Color="Color.Success"
                        StartIcon="@Icons.Material.Filled.Add"
                        OnClick="@(() => NavigationManager.NavigateTo("/products/create-product"))"/>
            </MudTooltip>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private List<ProductDto> ProductsList { get; set; } = [];

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //await GetAllProducts();
        }
    }

    private async Task GetAllProducts()
    {
        var response = await ProductService.GetProductsAsync();

        if (response.Success)
        {
            var data = response.Get<List<ProductDto>>()!;
            ProductsList = data;
        }
        else
        {
            Snackbar.Add(response.Message, Severity.Error);
        }
    }

}