@page "/products/create"

@using eShop.BlazorWebUI.Components.Pages.Products.Components.Create

@inherits PageBase
@implements IDisposable

@attribute [Authorize]

@inject ProductState State

<Title Text="Create product"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="8">
        <CascadingValue Value="Model">
            <MudForm Model="Model">
                <MudGrid Spacing="1" Justify="Justify.Center">
                    <MudItem xs="4">
                        <Images />
                    </MudItem>
                    <MudItem xs="8">
                        <MudGrid Spacing="1" Justify="Justify.Center">
                            <MudItem xs="12">
                                <GeneralProperties/>
                            </MudItem>
                            @if (!string.IsNullOrEmpty(Model.Type.Name))
                            {
                                <MudItem xs="12">
                                    <Properties/>
                                </MudItem>
                            }
                            <MudItem xs="12">
                                <MudPaper Class="pa-3" Outlined="true">
                                    <MudGrid Justify="Justify.Center">
                                        <MudItem xs="12">
                                            <MudButton
                                                ButtonType="ButtonType.Button"
                                                Variant="Variant.Filled"
                                                Color="Color.Primary">
                                                Submit
                                            </MudButton>
                                            <MudButton
                                                ButtonType="ButtonType.Button"
                                                Variant="Variant.Outlined"
                                                Color="Color.Error"
                                                OnClick="@(() => Clear())">
                                                Clear
                                            </MudButton>
                                        </MudItem>
                                    </MudGrid>
                                </MudPaper>
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                </MudGrid>
            </MudForm>
        </CascadingValue>
    </MudItem>
</MudGrid>

@code {
    [SupplyParameterFromForm] private ProductModel Model { get; set; } = new();

    protected override void OnInitialized()
    {
        State.OnChange += StateHasChanged;
    }

    private void Clear()
    {
        Model = new();
        Model.Images.Clear();
    }

    public void Dispose()
    {
        State.OnChange -= StateHasChanged;
    }

}