@page "/settings/security"

@using eSecurity.Client.Components.Pages.Security.Sections
@using eSecurity.Client.Security.Identity
@using eSecurity.Core.Common.DTOs

@inherits PageBase

@attribute [Authorize]

@inject IUserService UserService

<Title Text="Password and authentication"></Title>

@if (_model is not null)
{
    <MudGrid Justify="Justify.Center">
        <MudItem xs="6">
            <MudStack Spacing="4">
                <MudStack Spacing="3">
                    <MudText Typo="Typo.h5">
                        Sign-in methods
                    </MudText>
                    <MudPaper Class="pt-3 pb-3" Elevation="4">
                        <MudStack Spacing="3">
                            <PasswordSection Model="_model.PasswordData" OnRefresh="RefreshAsync"/>
                            <MudDivider/>
                            <LinkedAccountsSection Model="_model.LinkedAccountsData"/>
                            <MudDivider/>
                            <PasskeysSection OnRefresh="RefreshAsync" Model="_model.PasskeysData"/>
                        </MudStack>
                    </MudPaper>
                </MudStack>
                <TwoFactorSection Model="_model.TwoFactorData" OnRefresh="RefreshAsync"/>
            </MudStack>
        </MudItem>
    </MudGrid>
}
else
{
    <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Style="margin-top: 150px">
        <MudLoading Text="Loading..." Loading="true"/>
    </MudStack>
}

@code {
    private UserLoginMethodsDto? _model;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadAsync();
            StateHasChanged();
        }
    }

    private async Task RefreshAsync()
    {
        await LoadAsync();
        await InvokeAsync(StateHasChanged);
    }

    private async Task LoadAsync()
    {
        var result = await UserService.GetUserLoginMethodsAsync(UserState.UserId);
        if (result.Succeeded && result.TryGetValue<UserLoginMethodsDto>(out var value))
        {
            _model = value;
        }
        else Snackbar.Add(result.GetError().Description, Severity.Error);
    }
}