@page "/seller/register"

@inherits PageBase
@inject ISellerService SellerService

<Title Text="Register seller"></Title>

@code {
    private RegisterSellerRequest Model { get; set; } = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

    }

    private async Task OnSubmit()
    {
        var response = await SellerService.RegisterSellerAsync(Model);

        if (response.Success)
        {
            Snackbar.Add(response.Message, Severity.Success);
        }
        else
        {
            Snackbar.Add(response.Message, Severity.Error);
        }
    }
}